html, body{
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:14px;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Raleway', sans-serif;
	margin:0;
	font-weight:700;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.img img {
	width: 200px;
	height: 250px;
}

/* Header */
.top_header {
	background: #333333;
	padding: 12px 0;
}
.home {
	float: left;
	padding: 9px 0;
	width: 40%;
}
.home p {
	font-size: 18px;
	color: #fff;
}
.home p a {
	color: #fe9126;
	text-decoration: none;
}
.home img {
	margin-top: -5px;
}
.login {
	float: left;
	width: 60%;
	text-align: center;
	padding: 5px 0;
}
.login ul li {
	display: inline-block;
	padding: 0em 1em;
}
.login ul li a {
	font-size: 1em;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
}
/* //Header */

/* navbar */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #fff;
	background-color: #fe9126;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px;
	margin-top: 15px;
	background-color: #333333;
	color: #afafaf;
	border-radius: 0;
}
.nav > li> a:hover {
	color: #fe9126;
}

.time-price > .row-time {
	float: left;
	text-align: left;
	width: 50%;
	margin: 0;
	padding: 10px 5px;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	z-index: 3;
	background: rgba(238,238,238,.8);
	white-space: nowrap;
	overflow: hidden;
}
.time-price > .row-time > #time {
	color: rgb(255,0,0);
}
.time-price > .row-price {
	float: right;
	text-align: right;
	width: 50%;
	margin: 0;
	padding: 10px 5px;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	z-index: 3;
	background: rgba(238,238,238,.8);
	white-space: nowrap;
	overflow: hidden;
}

.row {
	margin-bottom: 10px;
}
.row > .cont-cap {
	max-width: 100%;
	margin-bottom: 10px;
	padding: 12px 0;
	font-size: 20px;
	color: #fe9126;
	background-color: #333333;
	text-align: center;
	clear: both;
}
.row-img > .btn-dg, .row-img > .img {
	float: left;
	width: 100% !important;
	margin-top: 15px;
	margin-bottom: 10px;
}
.row-img > .btn-dg > .btn-p, .row-img > .img > .img-p {
	line-height: 18px !important;
	vertical-align: baseline;
	text-align: center;
}
.row-img > .btn-dg > .btn-p > a {
	padding: 5px 10px;
	color:#fe9126;
	border: 1px solid #fe9126;
	cursor: pointer;
}
.row-img > .btn-dg > .btn-p > a:hover {
	background-color: #fe9126;
	color:#fff;
	text-decoration:none;
}

/* w-title */
.wrap {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap > .w-title {
	border: initial;
	width: 280px;
	overflow: hidden;
}
.wrap > .w-title > h1 {
	padding: 0 0 5px;
	color: #fe9126;
	font-size: 35px;
}
/* //w-title */
/* w-table */
#pills-tabContent {
	border: 1px solid #FFCC99;
	margin-bottom: 2em;
}
.continue {
	color:#fe9126;
	margin-left: 2em;
}
.win {
	color:#00ff00;
	margin-left: 2em;
}
.lost {
	color:#ff0000;
	margin-left: 2em;
}
/* //w-table */
/* //navbar */

/* chi tiết */

.goback{
	padding: 10px 5px 10px;
	font-size: 20px;
}
#chitiet-id {
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
	border: solid 1px #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	vertical-align: baseline;
	box-sizing: border-box;
}
.chitiet-title {
	margin-bottom: 10px;
	padding: 10px;
	display: block;
	border-bottom: solid 1px #ccc;
}
.chitiet-photo {
	margin-left: 120px;
	float: left;
	width: 200px;
}
.photo-gallery {
	display: inline-block;
	margin: 5px -5px;
	width: 100%;
}
.chitiet-info {
	display: inline-block;
	padding-left: 8px;
	padding-right: 10px;
	width: 50%;
	margin: 0 100px;
}
.chitiet-info > .left {
	width: 45%;
	float: left;
}
.chitiet-info > p {
	line-height: 22px;
}
.info-fied {
	font-family: quark;
	font-size: 16px;
	color: #999;
}
.timeout {
	color: rgb(204, 51, 85);
	min-height: 40px;
	padding: 5px 0;
	font-family: open sans,sans-serif;
	font-size: 32px;
	font-weight: 700;
}
.chitiet-info > .right {
	width: 55%;
	float: right;
	padding-left: 80px;
}
.info-data {
	min-height: 40px;
	padding: 5px 0;
	font-family: open sans,sans-serif;
	font-size: 32px;
	font-weight: 700;
}
.select-size {
	width: 150px;
	height: 45px;
	display: inline-block;
	border: 1px solid #ccc;
	outline: 0;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.select-size > .chitiet-size {
	width: 148px;
	padding: 10px 0;
	position: absolute;
	font-size: 16px;
	text-indent: 3px;
	background: 0 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	line-height: 1.8;
	height: 45px;
}
.bidding-btn {
	padding-top: 0;
	width: 100%;
	text-align: center;
}
.bidding-btn > a {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
    width: 100%;
    float: left;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0aa7da;
}
.winner-name > .info-fied {
	float: left;
	display: inline-block;
    margin-right: 5px;
    margin-top: 5em;
}
.winner-name > .info-data {
	display: inline-block;
    word-break: break-all;
    line-height: 22px;
    width: 68%;
    font-size: 16px;
    font-weight: bold;
    color:#fe9126;
    margin: 35px 10px;
}
.winner-name > .info-data > i {
	color:#00ff00;
    margin-right: 5px;
}

/* minus-input-plus */
.count-input {
	position: relative;
	width: 100%;
	max-width: 222px;
	font-size: 26px;
	font-weight: 100;
}
.count-input input {
	width: 100%;
	height: 44.92307692px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: none;
	text-align: center;
}
.count-input input:focus {
	outline: none;
}
.count-input .incr-btn {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	line-height: 30px;
	top: 50%;
	right: 0;
	margin-top: -15px;
	text-decoration:none;
}
.count-input .incr-btn:first-child {
	right: auto;
	left: 0;
	top: 46%;
}
.count-input.count-input-sm {
	max-width: 125px;
}
.count-input.count-input-sm input {
	height: 36px;
}
.count-input.count-input-lg {
	max-width: 200px;
}
.count-input.count-input-lg input {
	height: 70px;
	border-radius: 3px;
}
/* //minus-input-plus */

/* //chi tiết */
/*-- footer --*/
.footer {
	padding: 2em 0 1em;
	background: #2b2a2a;
}
.footer_grid h3 {
	color: #ffffff;
	font-size: 1.5em;
	margin-bottom: 1.8em;
	text-transform: uppercase;
}
.footer_grid p{
	color:#afafaf;
	line-height:1.8em;
	margin-bottom:2em;
}
.footer_grid ul li {
	list-style-type: none;
	margin-bottom: 1em;
	color: #afafaf;
	font-weight:700;
	font-size: 14px;
}
.footer_grid ul.address li i {
	color:#fe9126;
	border: 1px solid #fe9126;
	padding: .5em;
	margin-right: 1em;
}
.footer_grid ul.address li span {
	display: block;
	margin-left: 3em;
}
.footer_grid ul li a {
	color: #afafaf;
	text-decoration: none;
}
.footer_grid i {
	color:#fe9126;
	margin-right: 1em;
}
.footer_grid ul li a:hover {
	color:#fe9126;
}
.footer_grid h4{
	margin:2em 0 1em;
	font-size:1.2em;
	color:#ff9b05;
}
.footer-copy p{
	margin:2em 0 1em;
	text-align:center;
	color:#999;
	line-height:1.8em;
}
.footer-copy p a{
	color:#ff9b05;
	text-decoration:none;
}
.footer-copy p a:hover{
	color:#999;
}
.footer-botm {
	background: #393737;
	padding: 16px 0;
}
/*-- //footer --*/

/* Hover ten hien thi */
* {
	box-sizing: border-box;
}

.zoom {
	background-color: green;
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}