<!-- chi tiết đấu giá -->
<div class="container">
    <div class="goback" id="returnhome">
        <a href="" title="về trang chủ">
            <i class="glyphicon glyphicon-backward"> Xem_Thêm_Sản_Phẩm</i>
        </a>
    </div>
    <div id="chitiet-id">
        <h2 class="chitiet-title" id="phiendaugia-tensp">Tên SP</h2>
        <div class="chitiet-photo">
            <div id="myCarousel" class="carousel slide photo-gallery" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img style="width: 200px;height: 250px;" src="" alt="" id="sanpham-hinhdaidien" class="data-fix">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="chitiet-info">
            <div class="left">
                <p class="info-fied">Kết thúc trong:</p>
                <p class="timeout" id="timeout"></p>
            </div>
            <div class="right">
                <p class="info-fied">Giá thầu hiện tại:</p>
                <p class="info-data" id="phiendaugia-giahientai">0K
                    <sup>₫</sup>
                </p>
            </div>
            <div class="left">
                <p class="info-fied">Chon loại:</p>
                <p class="info-data">
                    <span class="select-size" id="">
                        <select name="" id="" class="chitiet-size">
                            <option selected="selected" value="">Loại 1</option>
                            <option value="">Loại 2</option>
                            <option value="">Loại 3</option>
                        </select>
                    </span>
                </p>
            </div>
            <div class="right">
                <p class="info-fied">Đấu giá ngay:</p>
                <div class="info-data">
                    <p class="count-input space-bottom">
                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                        <input class="quantity" type="text" id="phiendaugia-daugiangay" name="quantity" value="1" disabled="true" />
                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                    </p>
                    <p class="bidding-btn">
                        <a id="daugiangay-Btn" class="buttons bidding large" href="#">
                            <i class="glyphicon glyphicon-pawn" aria-hidden="true"></i>
                            <span class="place_one">Đấu giá ngay</span>
                            <span hidden="true" class="bidding_two">Bidding..</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="winner-name">
                <p class="info-fied">Người thắng hiện tại:</p>
                <p class="info-data">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="current_winner" id="winner"></span>
                </p>
            </div>
        </div>
        <div>
            <table class="table table-striped" id="winner-table">
                <thead>
                    <tr>
                        <th scope="col">Tài khoản/Tự động đấu giá</th>
                        <th scope="col">Tổng giá thầu</th>
                        <th scope="col">Thời gian tham gia đấu</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="dacta">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#sanpham-dacta">Chi tiết sản phẩm</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#FAQ">Quy định của shop</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="sanpham-dacta" class="tab-pane fade in active" style="padding: 15px;">

                </div>
                <div id="FAQ" class="tab-pane fade" style="padding: 15px;">
                    Khi giá thầu của bạn cao hơn giá thầu tối thiểu, hệ thống sẽ tự động đấu giá cho bạn. Lưu ý chúng tôi sẽ không bao giờ đấu
                    giá cao hơn giá bạn đã đưa ra.
                    <br>
                    <br>Hệ thống được thiết kế để giữ tiền cho bạn và cung cấp cho bạn cơ hội thắng đấu giá cao nhất với mức
                    giá thấp nhất.
                    <br>
                    <br>Với phương thức này bạn sẽ quyết định được mức giá tối đa bạn sẵn sàng trả cho sản phẩm và vẫn có cơ
                    hội để thắng với mức giá thấp hơn mức giá tối đa mà bạn đã đưa ra.
                    <br>
                    <br>Dưới đây là 1 ví dụ:
                    <br>
                    <br>Một người dùng khác (Tạm gọi là Người Dùng 1) đưa ra giá thầu là 200k VND
                    <br>
                    <br>Giá thầu của bạn là 300k VND.
                    <br>
                    <br>Thay vì đấu giá với giá là 300k VND, thuật toán của chúng tôi sẽ điều chỉnh giá thầu của bạn xuống còn
                    200k VND.
                    <br>
                    <br>Người Dùng 1 đưa ra giá thầu là 250k VND
                    <br>
                    <br>Hệ thống của chúng tôi sẽ tự động đấu giá với mức giá bằng 250K VND cho bạn, bởi bạn đã đăng ký giá thầu
                    tối đa mà bạn muốn trả cho sản phẩm là 300K VND.
                    <br>
                    <br>Bạn vẫn sẽ thắng thầu với mức giá 250k VND.
                    <br>
                    <br>Người Dùng 1 lại đưa ra giá thầu mới là 300k VND, bằng với giá đầu lúc đầu của bạn. Trong trường hợp
                    này, hệ thống sẽ tự động khớp giá thầu của Người Dùng 1 và bạn vẫn là người thắng thầu với mức giá 300k
                    VND
                    <br>
                    <br>Chiến lược tốt là đưa ra một giá thầu tối đa cao từ ban đầu, như vậy bạn sẽ có cơ hội thắng thầu cao
                    hơn, đặc biệt khi người dùng khác khớp với giá thầu của bạn
                    <br>
                    <br>Người Dùng 1 đưa ra giá thầu mới là 310k VND
                    <br>
                    <br>Bạn đã bị đấu giá cao hơn và Người Dùng 1 đang giữ lợi thế thắng cuộc. Nếu bạn muốn đưa ra giá thầu mới
                    để thắng thầu bạn sẽ cần phải đưa ra giá thầu cao hơn 310k VND
                    <br>
                    <br>Như vậy bạn có thể thắng, Chilindo được thiết kế để bạn có thể thắng đấu giá với giá tốt nhất.
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="hometopnew"> </div>
</div>
<!-- //chi tiết đấu giá -->
<script type="text/javascript">
    var chiTietSP = {};

    async function setHome() {
        await $.ajax({
            type: "GET",
            url: '/api/phiendaugia/hometopnew',
            cache: true,
            success: function (data) {
                let htmlNew = '';
                let htmlInit = '';
                let htmlDanOng = '';
                let htmlPhuNu = '';
                let htmlTreEm = '';
                let htmlMore = '';
                for (let i = 0; i < data.length && i < 5; i++) {
                    let dataHtml = `
					<div class="col-sm-3 row-img">
					<a class="img phiendaugia-img"  data-maphieudg='${data[i].maphiendg}'>
					<div class="img-p">
					<img src="${data[i].hinhdaidien}" alt="Ảnh đại diện">
					</div>
					</a>
					<div class="time-price">
					<div class="row-time">
					<div class="time" id='timer-${data[i].maphiendg}'></div>
					</div>
					<div class="row-price">
					<div class="price">${data[i].giahientai / 1000}K <sup>₫</sup></div>
					</div>
					</div>
					<div class="btn-dg daugiangay-Btn" data-maphieudg='${data[i].maphiendg}'>
					<p class="btn-p"><a class="btn-a"><i class="glyphicon glyphicon-pawn" aria-hidden="true"></i> Đấu Giá Ngay</a></p>
					</div>
					</div>`;
                    setTimer(`#timer-${data[i].maphiendg}`, parseInt(data[i].thoigianconlai), data[i].maphiendg, 'main');
                    htmlNew += dataHtml;
                }
                $('#hometopnew').html(htmlNew);
            }
        })
    }

    $(".incr-btn").on("click", function (e) {
        var $button = $(this);
        var oldValue = $button.parent().find('.quantity').val();
        $button.parent().find('.incr-btn[data-action="decrease"]').removeClass('inactive');
        if ($button.data('action') == "increase") {
            var newVal = (parseFloat(oldValue) + parseInt(thamsoData[0].giatri) / 1000);
        } else {
            if (oldValue > ((chiTietSP.giahientai + parseInt(thamsoData[0].giatri)) / 1000)) {
                var newVal = (parseFloat(oldValue) - parseInt(thamsoData[0].giatri) / 1000);
            } else {
                newVal = (chiTietSP.giahientai + parseInt(thamsoData[0].giatri)) / 1000;
                $button.addClass('inactive');
            }
        }
        $button.parent().find('.quantity').val(newVal);
        e.preventDefault();
    });

    $("#daugiangay-Btn").on("click", function (e) {
        e.preventDefault();
        if (!$(this).hasClass('disabled')) {
            let data = {};
            data.maphiendg = maphieudgSelected;
            data.matk = userData.matk;
            data.giadau = $('#phiendaugia-daugiangay').val() * 1000;
            data.tinhtrangphieudg = 3;
            data.thoigiandau = new Date().toDateTimeLocal();
            $.ajax({
                type: "POST",
                url: '/api/phieudaugia/create',
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: true,
                success: function (dataPhienDauGia) {
                    chiTietSP.giahientai = $('#phiendaugia-daugiangay').val() * 1000;
                    chiTietSP.updated = new Date().toDateTimeLocal();
                    chiTietSP.thoigiandau = parseFloat(chiTietSP.thoigiandau) + parseFloat(thamsoData[1].giatri) / 60;
                    chiTietSP.maphieudg = parseInt(dataPhienDauGia[0].maphieudg);
                    chiTietSP.maphiendg = parseInt(maphieudgSelected);
                    $.ajax({
                        type: "PUT",
                        url: '/api/phiendaugia/update',
                        data: JSON.stringify(chiTietSP),
                        contentType: 'application/json',
                        success: function (dataPhienDauGia) {
                            alert("Bạn đang đấu giá");
                            sendToServer(maphieudgSelected);
                        }
                    });
                }
            });
        }
    })

    function readwinner() {
        $.ajax({
            type: "GET",
            url: '/api/phiendaugia/readwinner/' + maphieudgSelected,
            cache: true,
            success: function (data) {
                let htmlData = '';
                if (data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData += `
                    <tr>						
                    <td class="chitiet-tentk" id="${i}">${data[i].tendangnhap}</td>
                    <td class="chitiet-giahientai" id="${i}">${data[i].giadau / 1000} K</td>
                    <td class="chitiet-thoigianbd" id="${i}">${data[i].thoigiandau}</td>
                    </tr>
                    `;
                    }
                    $('#winner').text(data[0].tendangnhap)
                    $('#winner-table tbody').html(htmlData)
                }
            }
        })
    }

    function readthongtinphiendaugia() {
        $.ajax({
            type: "GET",
            url: '/api/phiendaugia/readthongtinphiendaugia/' + maphieudgSelected,
            cache: true,
            success: function (data) {
                chiTietSP.giahientai = data[0].giahientai;
                $('#phiendaugia-daugiangay').val((parseInt(data[0].giahientai) + parseInt(thamsoData[0].giatri)) / 1000);
                $('#phiendaugia-giahientai').html(parseInt(data[0].giahientai) / 1000 + "K <sup>₫</sup>");
                $('#sanpham-dacta').html(data[0].dacta);
                $('#sanpham-hinhdaidien').attr('src', data[0].hinhdaidien);
                $('#phiendaugia-tensp').text(data[0].tensp);
                chiTietSP.thoigiandau = data[0].thoigiandau;
                chiTietSP.masp = parseInt(data[0].masp);
                chiTietSP.thoigianbd = data[0].thoigianbd;
                chiTietSP.giathapnhat = data[0].giathapnhat;
                chiTietSP.tinhtrangphiendg = data[0].tinhtrangphiendg;
                chiTietSP.isdelete = data[0].isdelete;
                chiTietSP.isnew = data[0].isnew;
                chiTietSP.created = data[0].created;
                setTimer('#timeout', data[0].thoigianconlai, maphieudgSelected, 'chitietsanpham');
            }
        })
    }

    function mainChiTietSP() {
        readthongtinphiendaugia();
        readwinner();
        setHome();
    }

    $(document).ready(function () {
        mainChiTietSP();
    });

    $('.phiendaugia-img, .daugiangay-Btn').click(function (e) {
        e.preventDefault();
        clearAllInterval();
        maphieudgSelected = $(this).data("maphieudg");
        $.ajax({
            type: "GET",
            url: '/user/chitietsanpham',
            cache: true,
            success: function (data) {
                $('#user-content').html(data);
            }
        })
    });

    $('#returnhome').click(function (e) {
        e.preventDefault();
        clearAllInterval();
        $.ajax({
            type: "GET",
            url: '/user/main',
            cache: true,
            success: function (data) {
                $('#user-content').html(data);
            }
        });
    });
</script>
<script src="../javascript/client_ws.js"></script>