<div class="container">
    <div class="content">
        <div class="wrap">
            <div class="w-title">
                <h1>Đấu giá của tôi</h1>
            </div>
        </div>
        <div class="wrap">
            <div class="w-table">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="daugiacuatoi-dangdau-tab" data-toggle="pill" href="#daugiacuatoi-dangdau" role="tab" aria-controls="daugiacuatoi-dangdau"
                            aria-selected="false">Giá thầu hiện tại</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="daugiacuatoi-thanhcong-tab" data-toggle="pill" href="#daugiacuatoi-thanhcong" role="tab" aria-controls="daugiacuatoi-thanhcong"
                            aria-selected="false">Đấu giá đã thắng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active show" id="daugiacuatoi-thatbai-tab" data-toggle="pill" href="#daugiacuatoi-thatbai" role="tab"
                            aria-controls="daugiacuatoi-thatbai" aria-selected="true">Đấu giá thua</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active in" id="daugiacuatoi-dangdau" role="tabpanel" aria-labelledby="daugiacuatoi-dangdau-tab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Thời gian đấu</th>
                                    <th scope="col">Giá hiện tại</th>
                                    <th scope="col">Giá đấu</th>
                                    <th scope="col">Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="daugiacuatoi-thanhcong" role="tabpanel" aria-labelledby="daugiacuatoi-thanhcong-tab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Thời gian đấu</th>
                                    <th scope="col">Giá đấu</th>
                                    <th scope="col">Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="daugiacuatoi-thatbai" role="tabpanel" aria-labelledby="daugiacuatoi-thatbai-tab">
                        <table id='daugiacuatoi-table' class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Thời gian đấu</th>
                                    <th scope="col">Giá đấu</th>
                                    <th scope="col">Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script type="text/javascript">
    //Gọi API xử lý
    async function setDauGiaCuaToiThang() {
        await $.ajax({
            type: "GET",
            url: '/api/phieudaugia/readdaugiacuatoithang',
            cache: true,
            //láy kết quả url lưu vào data
            success: function (data) {
                console.log(data);
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    htmlData += `
                        <tr>
                        <th><i class="glyphicon glyphicon-ok win"></i></th>
                        <td class="daugiacuatoi-tensp">${data[i].tensp}</td>
                        <td class="daugiacuatoi-thoigiandau">${data[i].thoigiandau}</td>
                        <td class="daugiacuatoi-giadau">${data[i].giadau}</td>
                        <td class="daugiacuatoi-tinhtrangphieudg" style="color: #00ff00;">Thành công</th>
                        </tr>
                        `;
                }
                $('#daugiacuatoi-thanhcong > table > tbody').html(htmlData);
            }
        })
    };
    async function setDauGiaCuaToiThua() {
        await $.ajax({
            type: "GET",
            url: '/api/phieudaugia/readdaugiacuatoithua',
            cache: true,
            //láy kết quả url lưu vào data
            success: function (data) {
                console.log(data);
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    htmlData += `
                        <tr>
                        <th><i class="glyphicon glyphicon-remove lost"></i></th>
                        <td class="daugiacuatoi-tensp">${data[i].tensp}</td>
                        <td class="daugiacuatoi-thoigiandau">${data[i].thoigiandau}</td>
                        <td class="daugiacuatoi-maphieudg">${data[i].giadau}</td>
                        <td class="daugiacuatoi-tinhtrangphieudg" style="color: #ff0000;">Thất bại</th>
                        </tr>
                        `;
                }
                $('#daugiacuatoi-thatbai > table > tbody').html(htmlData);
            }
        })
    };
    async function setDauGiaCuaToiDangDau() {
        await $.ajax({
            type: "GET",
            url: '/api/phieudaugia/readdaugiacuatoidangdau',
            cache: true,
            //láy kết quả url lưu vào data
            success: function (data) {
                console.log(data);
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    htmlData += `
                        <tr>
                        <th><i class="glyphicon glyphicon-paperclip continue"></i></th>
                        <td class="daugiacuatoi-tensp">${data[i].tensp}</td>
                        <td class="daugiacuatoi-thoigiandau">${data[i].thoigiandau}</td>
                        <td class="daugiacuatoi-giahientai">${data[i].giahientai}</td>
                        <td class="daugiacuatoi-giadau">${data[i].giadau}</td>
                        <td class="daugiacuatoi-tinhtrangphieudg" style="color: #fe9126;">Đang đấu</th>
                        </tr>
                        `;
                }
                $('#daugiacuatoi-dangdau > table > tbody').html(htmlData);
            }
        })
    };
    $(document).ready(function () {
        setDauGiaCuaToiThang();
        setDauGiaCuaToiThua();
        setDauGiaCuaToiDangDau();
    });
</script>