<div class="container">
	<div class="content">
		<div class="wrap">
			<div class="w-title">
				<h1>Giỏ hàng</h1>
			</div>
		</div>
		<div class="wrap">
			<table class="table table-striped" id="giohang-table">
				<thead>
					<tr>
						<th scope="col">Mã phiếu đấu</th>
						<th scope="col">Tên sản phẩm</th>
						<th scope="col">Giá đấu</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<script type="text/javascript">

	async function setGioHang() {
		await $.ajax({
			type: "GET",
			url: '/api/phieudaugia/readGioHang',
			cache: true,
			success: function (data) {
				let htmlData = '';
				tongtien = 0;
				if (data.length > 0) {
					for (let i = 0; i < data.length; i++) {
						htmlData += `
						<tr>
						<td class="giohang-maphieu" id="${i}">${data[i].maphieudg}</td>
						<td class="giohang-tensp" id="${i}">${data[i].tensp}</td>
						<td class="giohang-giahientai" id="${i}">${data[i].giahientai}</th>
						<td><button type="button" class="btn btn-danger" id="giohang-xoa-Btn" onclick="xoaGioHang()">Xóa</button></td>
						</tr>						
						`;
						tongtien += data[i].giahientai;
					}
					htmlData +=
						`<tr>
						<td></td>
						<td></td>
						<td>TỔNG TIỀN <input type="text" id="giohang-thanhtoan-Txt" value="${tongtien}"></td>
						<td><button type="button" class="btn btn-success" id="giohang-thanhtoan-Btn" onclick="thanhtoanGioHang()">Thanh Toán</button></td>
					</tr> `;
				}
				else {
					htmlData = 'Giỏ hàng của bạn trống';
				}
				$('#giohang-table tbody').html(htmlData)
			}
		})
	}
	$(document).ready(function () {
		setGioHang();
	});

	function xoaGioHang(e) {
		if (confirm("Xác nhận xóa!")) {
			$('#giohang-table tr').click(function (e) {
				let childrenTr = $(this).parent().children();
				let data = {};
				data.maphieudg = $(this).find('td').eq(0).html();
				$.ajax({
					type: "PUT",
					url: '/api/phieudaugia/xoaGioHang',
					data: JSON.stringify(data),
					contentType: 'application/json',
					cache: true,
					success: function (data) {
						alert('Xóa giỏ hàng thành công');
						setGioHang();
					}
				});
			});
		}
	}

	function thanhtoanGioHang(e) {
		var r = confirm("Xác nhận thanh toán!");
		if (r == true) {
			$.ajax({
				type: "PUT",
				url: '/api/phieudaugia/uploadGioHang',
				data: JSON.stringify(),
				contentType: 'application/json',
				cache: true,
				success: function () {
					alert('Thanh toán giỏ hàng thành công');
				}
			});
			$('#giohang-table tbody').html("Giỏ hàng của bạn trống");
		}
	}

</script>