<!-- <div class="container"> -->
	<ul class="nav nav-pills nav-justified justify-content-center">
		<li class="active">
			<a data-toggle="pill" href="#trangchu">Trang Chủ</a>
		</li>
		<li>
			<a data-toggle="pill" href="#danhchodanong">Dành Cho Nam</a>
		</li>
		<li>
			<a data-toggle="pill" href="#danhchophunu">Dành Cho Nữ</a>
		</li>
		<li>
			<a data-toggle="pill" href="#danhchotreem">Dành Cho Trẻ Em</a>
		</li>
		<li>
			<a data-toggle="pill" href="#more">More...</a>
		</li>
	</ul>


	<div class="tab-content">

		<div id="trangchu" class="tab-pane fade in active">
			<div class="row" id="hometopnew"> </div>
		</div>

		<div id="danhchodanong" class="tab-pane fade">
			<div class="row" id="homedanhchodanong"> </div>
		</div>

		<div id="danhchophunu" class="tab-pane fade">
			<div class="row" id="homedanhchophunu"> </div>
		</div>

		<div id="danhchotreem" class="tab-pane fade">
			<div class="row" id="homedanhchotreem">
			</div>
		</div>

		<div id="more" class="tab-pane fade">
			<div class="row" id="#homemore"> </div>
		</div>

	</div>

	<div class="clearfix"> </div>
</div>

<script type="text/javascript">

	async function setHome() {
		await $.ajax({
			type: "GET",
			url: '/api/phiendaugia/hometopnew',
			cache: true,
			success: function (data) {
				let htmlNew = '';
				let htmlInit = '';
				let htmlDanOng = '';
				let htmlPhuNu = '';
				let htmlTreEm = '';
				let htmlMore = '';
				for (let i = 0; i < data.length; i++) {
					let dataHtml = `
					<div class="col-sm-3 row-img">
					<a href="" class="img phiendaugia-img"  data-maphieudg='${data[i].maphiendg}'>
					<div class="img-p">
					<img src="${data[i].hinhdaidien}" alt="Ảnh đại diện">
					</div>
					</a>
					<div class="time-price">
					<div class="row-time">
					<div class="time" id='timer-${data[i].maphiendg}'></div>
					</div>
					<div class="row-price">
					<div class="price">${data[i].giahientai / 1000}K <sup>₫</sup></div>
					</div>
					</div>
					<div class="btn-dg daugiangay-Btn" data-maphieudg='${data[i].maphiendg}'>
					<p class="btn-p"><a class="btn-a"><i class="glyphicon glyphicon-pawn" aria-hidden="true"></i> Đấu Giá Ngay</a></p>
					</div>
					</div>`;
					setTimer(`#timer-${data[i].maphiendg}`,parseInt(data[i].thoigianconlai),data[i].maphiendg,'main');
					htmlNew += dataHtml;
					if (data[i].maloaisp == 1) {
						htmlDanOng += dataHtml;
					} else if (data[i].maloaisp == 2) {
						htmlPhuNu += dataHtml;
					}
					else if (data[i].maloaisp == 3) {
						htmlTreEm += dataHtml;
					}else{
						htmlMore += dataHtml;
					}
				}
				$('#hometopnew').html(htmlNew);
				$('#homedanhchodanong').html(htmlDanOng);
				$('#homedanhchophunu').html(htmlPhuNu);
				$('#homedanhchotreem').html(htmlTreEm);
				$('#homemore').html(htmlMore);
			}
		})
	}

	$(document).ready(function () {
		Promise.all([setHome()])
		.then(() => {
			$('.phiendaugia-img, .daugiangay-Btn').click(function (e) {
				e.preventDefault();
				clearAllInterval();
				maphieudgSelected = $(this).data("maphieudg");
				$.ajax({
					type: "GET",
					url: '/user/chitietsanpham',
					cache: true,
					success: function (data) {
						$('#user-content').html(data);
					}
				})
			});
		}) 
	});

</script>