<div class="container">
    <div class="content">
        <div class="col-md-10 col-md-offset-5" style=" padding: 15px; margin-top: 8px">
            <h3>THÔNG TIN CÁ NHÂN</h3>
        </div>
        <div class="wrap">
            <div class="w-table">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="thongtincanhan-thongtin-tab" data-toggle="pill" href="#thongtincanhan-thongtin" role="tab" aria-controls="thongtincanhan-thongtin"
                            aria-selected="false">Thông tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="thongtincanhan-matkhau-tab" data-toggle="pill" href="#thongtincanhan-matkhau" role="tab" aria-controls="thongtincanhan-matkhau"
                            aria-selected="false">Đổi mật khẩu</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active in" id="thongtincanhan-thongtin" role="tabpanel" aria-labelledby="thongtincanhan-thongtin-tab">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1" style="background: slategray; padding: 15px; margin-top: 8px; margin-left: 170px;">
                                <div class="panel panel-login">
                                    <div class="panel-heading">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <form>
                                                    <div class="form-group">
                                                        <h4>Họ và tên</h4>
                                                        <input type="readonly" name="tenhienthi-dangki-Text" id="tenhienthi-dangki-Text" tabindex="1" class="form-control" placeholder="Doan Thi Xuan Thuy"
                                                            required />
                                                    </div>
                                                    <div class="form-group">
                                                        <h4>Email đăng ký</h4>
                                                        <input type="email" name="email-dangki-Text" id="email-dangki-Text" tabindex="1" class="form-control" placeholder="thuy@gmail.com"
                                                            required/>
                                                        <p id="email-dangki-hople" class="error"></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <h4>Địa chỉ</h4>
                                                        <input type="text" name="diachi-dangki-Text" id="diachi-dangki-Text" tabindex="1" class="form-control" placeholder="135, Trần Hưng Đạo"
                                                            required>
                                                    </div>
                                                    <div class="form-group">
                                                        <h4>Số điện thoại</h4>
                                                        <input type="text" name="dienthoai-dangki-Text" id="dienthoai-dangki-Text" tabindex="1" class="form-control" placeholder="01656828957"
                                                            required>
                                                        <p id="dienthoai-dangki-hople" class="error"></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-sm-offset-3">
                                                                <input type="submit" name="chinhsua-thongtincanhan" id="chinhsua-thongtincanhan" tabindex="4" class="form-control btn btn-primary"
                                                                    value="Đồng ý">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="thongtincanhan-matkhau" role="tabpanel" aria-labelledby="thongtincanhan-matkhau-tab">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1" style="background: slategray; padding: 15px; margin-top: 8px; margin-left: 170px;">
                                <div class="panel panel-login">
                                    <div class="panel-heading">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <form>
                                                    <div class="form-group">
                                                        <h4>Mật khẩu cũ</h4>
                                                        <input type="password" name="matkhaucu-txt" id="matkhaucu-txt" tabindex="1" class="form-control" required/>
                                                        <p id="matkhaucu-hople" class="error"></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <h4>Mật khẩu mới</h4>
                                                        <input type="password" name="matkhaumoi-txt" id="matkhaumoi-txt" tabindex="1" class="form-control" required/>
                                                        <p id="matkhaumoi-hople" class="error"></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <h4>Nhập lại mật khẩu mới</h4>
                                                        <input type="password" name="nhaplaimatkhau-txt" id="nhaplaimatkhau-txt" tabindex="1" class="form-control" required/>
                                                        <p id="nhaplaimatkhau-hople" class="error"></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-sm-offset-3">
                                                                <input type="submit" name="chinhsua-matkhau" id="chinhsua-matkhau" tabindex="4" class="form-control btn btn-danger" value="Đồng ý">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script src="../javascript/md5.min.js"></script>
<script type="text/javascript">
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function isPhone(phone) {
        var regex = /(^([0-9]{10}|[0-9]{11})$)/;
        return regex.test(phone);
    }

    $('#tenhienthi-dangki-Text').val(`${userData.tenhienthi}`);
    $('#tendangnhap-dangki-Text').val(`${userData.tendangnhap}`);
    $('#email-dangki-Text').val(`${userData.email}`);
    $('#diachi-dangki-Text').val(`${userData.diachi}`);
    $('#dienthoai-dangki-Text').val(`${userData.dienthoai}`);

    $('#chinhsua-thongtincanhan').click(function (e) {
        e.preventDefault();
        let err = false;
        let email = $.trim($('#email-dangki-Text').val());
        if (!isEmail(email)) {
            $('#email-dangki-hople').html('Email không đúng');
            err = true;
        }
        let dienthoai = $.trim($('#dienthoai-dangki-Text').val());
        if (!isPhone(dienthoai)) {
            $('#dienthoai-dangki-hople').html('Số điện thoại phải từ 10 - 11 số');
            err = true;
        }
        if (err === false) {
            let data = {};
            data.tendangnhap = userData.tendangnhap;
            data.matkhau = userData.matkhau;
            data.maloaitk = 2;
            data.email = $.trim($('#email-dangki-Text').val());
            data.tenhienthi = $.trim($('#tenhienthi-dangki-Text').val());
            data.diachi = $.trim($('#diachi-dangki-Text').val());
            data.dienthoai = $.trim($('#dienthoai-dangki-Text').val());
            data.matk = userData.matk;
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: '/api/taikhoan/update',
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: true,
                success: function (data) {
                    if (data.length > 0) {
                        userData = data[0];
                        alert('Chỉnh sửa thông tin thành công');
                        $('#email-dangki-hople').html('');
                        $('#dienthoai-dangki-hople').html('');
                        $('#tenhienthi-Text').html($('#tenhienthi-dangki-Text').val());
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    });

    $('#chinhsua-matkhau').click(function (e) {
        e.preventDefault();
        let err = false;
        let matkhau = md5($.trim($('#matkhaucu-txt').val()));
        if (matkhau != userData.matkhau) {
            $('#matkhaucu-hople').html('Mật khẩu cũ không đúng');
            err = true;
        }
        let matkhaumoi = $.trim($('#matkhaumoi-txt').val());
        if (matkhaumoi.length < 6) {
            $('#matkhaumoi-hople').html('Mật khẩu phải đủ từ 6 ký tự');
            err = true;
        }
        let xacminh = $.trim($('#nhaplaimatkhau-txt').val());
        if (matkhaumoi !== xacminh) {
            $('#nhaplaimatkhau-hople').html('Mật khẩu nhập lại không đúng');
            err = true;
        }
        if (err === false) {
            let data = {};
            data.tendangnhap = userData.tendangnhap;
            data.maloaitk = 2;
            data.email = $.trim($('#email-dangki-Text').val());
            data.tenhienthi = $.trim($('#tenhienthi-dangki-Text').val());
            data.diachi = $.trim($('#diachi-dangki-Text').val());
            data.dienthoai = $.trim($('#dienthoai-dangki-Text').val());
            data.matk = userData.matk;
            data.matkhau = md5($.trim($('#matkhaumoi-txt').val()));
            data.matk = userData.matk;
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: '/api/taikhoan/update',
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: true,
                success: function (data) {
                    if (data.length > 0) {
                        userData = data[0];
                        alert('Chỉnh sửa mật khẩu thành công')
                        $('#matkhaucu-hople').html('');
                        $('#matkhaumoi-hople').html('');
                        $('#nhaplaimatkhau-hople').html('');
                        $('#matkhaucu-txt').val('');
                        $('#matkhaumoi-txt').val('');
                        $('#nhaplaimatkhau-txt').val('');
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    });
</script>