<link rel="stylesheet" href="./style/user.css">

<script type="text/javascript">
	var maphieudgSelected;
	var userData;
	var thamsoData;
	$.ajax({
		type: "GET",
		url: '/api/taikhoan/getuser',
		cache: true,
		success: function (datauser) {
			if (datauser.length > 0) {
				userData = datauser[0];
				$('#tenhienthi-Text').html(datauser[0].tenhienthi);
			}
		}
	});
	$.ajax({
		type: "GET",
		url: '/api/thamso/read',
		cache: true,
		success: function (data) {
			if (data.length > 0) {
				thamsoData = data;
			}
		}
	});
	Date.prototype.toDateTimeLocal =
		function toDateTimeLocal() {
			var date = this,
				ten = function (i) {
					return (i < 10 ? '0' : '') + i;
				}
			yyyy = date.getFullYear(),
				MM = ten(date.getMonth() + 1),
				dd = ten(date.getDate()),
				hh = ten(date.getHours()),
				mm = ten(date.getMinutes());
			return yyyy + '-' + MM + '-' + dd + 'T' + hh + ':' + mm;
		}

	function setTimer(id, timeremain, maphiendg, state) {
		var x = setInterval(function () {
			var hours = Math.floor((timeremain % (60 * 60 * 24)) / (60 * 60));
			var minutes = Math.floor((timeremain % (60 * 60)) / (60));
			var seconds = Math.floor(timeremain % 60);

			$(id).text(hours + ":"
				+ (minutes > 9 ? minutes : '0' + minutes) + ":" + (seconds > 9 ? seconds : '0' + seconds));

			if (timeremain < 0) {
				clearInterval(x);
				$(id).text("Hết giờ");
				if (state === 'main') {
					setTimeout(function () {
						$(id).closest('.row-img').remove();
						clearAllInterval();
						//Gọi lại hàm trong trang main.html => set lại tất cả mọi phiên 
						setHome();
					}, 2000);
				}
				else {
					$('#daugiangay-Btn').addClass('disabled');
					// $.ajax({
					// 	type: "PUT",
					// 	url: '/api/phiendaugia/updatetrangthaiphiendg/' + maphiendg,
					// 	success: function () {
					// 		$.ajax({
					// 			type: "PUT",
					// 			url: '/api/phieudaugia/updatetrangthaiphieudgthua/' + maphiendg,
					// 			success: function () {
					// 				$.ajax({
					// 					type: "PUT",
					// 					url: '/api/phieudaugia/updatetrangthaiphieudgthang/' + maphiendg,
					// 					success: function () {
					// 					}
					// 				})
					// 			}
					// 		})
					// 	}
					// })
				}
				//update phien dau gia => ket thuc
				//update phieu dau gia => winner => thanh cong, loser => that bai		
			}
			timeremain -= 1;
		}, 1000);
	}

	function clearAllInterval() {
		(function (w) {
			w = w || window;
			var i = w.setInterval(function () { }, 100000);
			while (i >= 0) { w.clearInterval(i--); }
		})
			(/*window*/);
	}

</script>

<div class="top_header">
	<div class="container">
		<div class="home" id="home">
			<p>
				<a href="">
					<img src="./image/favicon.ico" alt="logo"> My Team</a>
			</p>
		</div>
		<div class="login">
			<ul>
				<li id="daugiacuatoi">
					<a href="">Đấu giá của tôi</a>
				</li>
				<li id="giohang">
					<a href="">Giỏ hàng</a>
				</li>
				<li style="padding-left: 30%">
					<div class="zoom">
						<a href="#" id="thongtincanhan">
							<strong id="tenhienthi-Text"></strong>
						</a>
					</div>
				</li>
				<li id="dangxuatBtn">
					<a href="" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="clearfix"> </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Logout</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button id="logout-submit" name="logout-submit" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
			</div>
		</div>

	</div>
</div>

<div id="user-content"></div>

<div class="footer">
	<div class="container">
		<div class="footer_grids">
			<div class="col-md-2 footer_grid">
			</div>

			<div class="col-md-5 footer_grid">
				<h3>Địa Chỉ</h3>

				<ul class="address">
					<li>
						<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>227 Nguyễn Văn Cừ, Quận 5
						<span>Tp.HCM.</span>
					</li>
					<li>
						<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
						<a href="mailto:myteam@google.com">myteam@google.com</a>
					</li>
					<li>
						<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
				</ul>
			</div>

			<div class="col-md-5 footer_grid">
				<h3>Thông Tin</h3>

				<ul class="info">
					<li>
						<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>Võ Doãn Thành 1560520</li>
					<li>
						<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>Nguyễn Công Thắng 1560530</li>
					<li>
						<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>Nguyễn Đức Thắng 1560531</li>
					<li>
						<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>Đoàn Thị Xuân Thùy 1560564</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="footer-copy">
	<div class="container">
		<p>&copy; 2018 My Team Shop. No Copyright | Design By
			<a href="#">My Team</a>
		</p>
	</div>
</div>

<!-- <script type="text/javascript" src="./javascript/user.js"></script> -->
<script type="text/javascript">

	jQuery(document).ready(function ($) {
		$.ajax({
			type: "GET",
			url: '/user/main',
			cache: true,
			success: function (data) {
				$('#user-content').html(data);
			}
		});
	});

	$('#home').click(function (e) {
		e.preventDefault();
		clearAllInterval();
		$.ajax({
			type: "GET",
			url: '/user/main',
			cache: true,
			success: function (data) {
				$('#user-content').html(data);
			}
		});
	});

	$('#daugiacuatoi').click(function (e) {
		e.preventDefault();
		$.ajax({
			type: "GET",
			url: '/user/daugiacuatoi',
			cache: true,
			success: function (data) {
				$('#user-content').html(data);
			}
		});
	});

	$('#giohang').click(function (e) {
		e.preventDefault();
		$.ajax({
			type: "GET",
			url: '/user/giohang',
			cache: true,
			success: function (data) {
				$('#user-content').html(data);
			}
		});
	});

	$('#thongtincanhan').click(function (e) {
		e.preventDefault();
		$.ajax({
			type: "GET",
			url: '/user/thongtincanhan',
			cache: true,
			success: function (data) {
				$('#user-content').html(data);
			}
		});
	});

	$('#logout-submit').click(function (e) {
		e.preventDefault();
		$.ajax({
			type: "GET",
			url: '/api/taikhoan/dangxuat',
			cache: true,
			success: function (data) {
				$('#root-content').html(data);
			}
		});
		$('.modal-backdrop.fade.in').remove();
		$('body').removeClass('modal-open')
	});
</script>