<link rel="stylesheet" href="style/login.css">
<script src="javascript/login.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background: slategray; padding-top: 15px;">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" role="form" style="display: block;">
                                    <p id="tendangnhap-dangnhap-hople" class="error"></p>
                                    <div class="form-group">
                                        <input type="text" name="tendangnhap-dangnhap-Text" id="tendangnhap-dangnhap-Text" tabindex="1" class="form-control" placeholder="Username"
                                        value="">
                                    </div>
                                    <p id="matkhau-dangnhap-hople" class="error"></p>
                                    <div class="form-group">
                                        <input type="password" name="matkhau-dangnhap-Text" id="matkhau-dangnhap-Text" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form id="register-form" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="tenhienthi-dangki-Text" id="tenhienthi-dangki-Text" tabindex="1" class="form-control" placeholder="Fullname"
                                        value="" required>
                                    </div>
                                    <p id="tendangnhap-dangki-hople" class="error"></p>
                                    <div class="form-group">
                                        <input type="text" name="tendangnhap-dangki-Text" id="tendangnhap-dangki-Text" tabindex="1" class="form-control" placeholder="Username"
                                        value="" required>
                                    </div>
                                    <p id="email-dangki-hople" class="error"></p>
                                    <div class="form-group">
                                        <input type="email" name="email-dangki-Text" id="email-dangki-Text" tabindex="1" class="form-control" placeholder="Email Address"
                                        value="" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="diachi-dangki-Text" id="diachi-dangki-Text" tabindex="1" class="form-control" placeholder="Address"
                                        value="" required>
                                    </div>
                                    <p id="dienthoai-dangki-hople" class="error"></p>
                                    <div class="form-group">
                                        <input type="text" name="dienthoai-dangki-Text" id="dienthoai-dangki-Text" tabindex="1" class="form-control" placeholder="Phone-number"
                                        value="" required>
                                    </div>
                                    <p id="matkhau-dangki-hople" class="error"></p>
                                    <div class="form-group">
                                        <input type="password" name="matkhau-dangki-Text" id="matkhau-dangki-Text" tabindex="2" class="form-control" placeholder="Password"
                                        required>
                                    </div>
                                    <p id="xacminh-matkhau-dangki-khongkhop" class="error"></p>
                                    <div class="form-group">
                                        <input type="password" name="xacminh-matkhau-dangki-Text" id="xacminh-matkhau-dangki-Text" tabindex="2" class="form-control"
                                        placeholder="Confirm Password" required="" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../javascript/md5.min.js"></script>
<script type="text/javascript">
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function isPhone(phone) {
        var regex = /(^([0-9]{10}|[0-9]{11})$)/;
        return regex.test(phone);
    }
    $('#login-submit').click(function (e) {
        e.preventDefault();
        let err = false;
        let tendangnhap = $.trim($('#tendangnhap-dangnhap-Text').val());
        if (tendangnhap.length < 6) {
            $('#tendangnhap-dangnhap-hople').html('Minimum is 6 characters')
            err = true;
        }
        let matkhau = $.trim($('#matkhau-dangnhap-Text').val());
        if (matkhau.length < 6) {
            $('#matkhau-dangnhap-hople').html('Minimum is 6 characters')
            err = true;
        }
        if(err === false)
        {
           let data = {};
           data.tendangnhap = tendangnhap;
           data.matkhau = md5(matkhau);
           $.ajax({
            type: "POST",
            url: '/api/taikhoan/dangnhap',
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: true,
            success: function (data) {
                $('#root-content').html(data);
            },
            error: function (result) {
                alert(result.responseJSON.description);
            }
        });
       }
   });

    $('#register-submit').click(function (e) {
        e.preventDefault();
        let err = false;
        let tendangnhap = $.trim($('#tendangnhap-dangki-Text').val());
        if (tendangnhap.length < 6) {
            $('#tendangnhap-dangki-hople').html('Minimum is 6 characters')
            err = true;
        }
        let email = $.trim($('#email-dangki-Text').val());
        if (!isEmail(email)) {
            $('#email-dangki-hople').html('Email invalid');
            err = true;
        }
        let matkhau = $.trim($('#matkhau-dangki-Text').val());
        if (matkhau.length < 6) {
            $('#matkhau-dangki-hople').html('Minimum is 6 characters')
            err = true;
        }
        let xacminh = $.trim($('#xacminh-matkhau-dangki-Text').val());
        if (matkhau !== xacminh) {
            $('#xacminh-matkhau-dangki-khongkhop').html('Password do not match')
            err = true;
        }
        let dienthoai = $.trim($('#dienthoai-dangki-Text').val());
        if (!isPhone(dienthoai)) {
            $('#dienthoai-dangki-hople').html('Must a number phone && Length of number is 10 or 11')
            err = true;
        }
        if (err === false) {
            let data = {};
            data.tendangnhap = tendangnhap;
            data.matkhau = md5(matkhau);
            data.email = email;
            data.tenhienthi = $.trim($('#tenhienthi-dangki-Text').val());
            data.diachi = $.trim($('#diachi-dangki-Text').val());
            data.dienthoai = $.trim($('#dienthoai-dangki-Text').val());
            data.maloaitk = 2;
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '/api/taikhoan/create',
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: true,
                success: function (data) {
                    if (data.length > 0) {
                        alert('Success')
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    });
</script>