<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"> -->
<script src="javascript/admin.jquery.dataTables.min.js"></script>
<script src="javascript/admin.dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="style/admin.dataTables.bootstrap.min.css">
<link rel="stylesheet" href="style/admin.css">
<script src="javascript/admin.jquery.canvasjs.min.js"></script>
<script src="vendor/tinymce/tinymce.min.js"></script>


<!-- <div class="container">
	<div class="row">
        <h3>Simple dialog</h3>
        <button type="button" class="btn btn-primary" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Show dialog</button>
	</div>
</div> -->
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Admin Dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <strong id="tenhienthi-Text"></strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Logout</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc là muốn logout không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="logout-submit" name="logout-submit" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
        </div>

    </div>
</div>

<div class="container" style="width: 80%; margin-top: 5%;">
    <button type="button" class="btn btn-primary btn-lg" id="clearCache-Btn">Clear Cache</button>
    <button type="button" class="btn btn-success btn-lg" id="restartAll-Btn">Restart All</button>
    <h2>Welcome to Admin Dashboard</h2>
    <hr/>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#home">Home</a>
        </li>
        <li>
            <a data-toggle="tab" href="#phiendaugia">Phiên đấu giá</a>
        </li>
        <li>
            <a data-toggle="tab" href="#taikhoan">Tài khoản</a>
        </li>
        <li>
            <a data-toggle="tab" href="#thamso">Tham số</a>
        </li>
        <li>
            <a data-toggle="tab" href="#loaisanpham">Loại sản phẩm</a>
        </li>
        <li>
            <a data-toggle="tab" href="#sanpham">Sản phẩm</a>
        </li>
        <!-- <li>
            <a data-toggle="tab" href="#hinh">Hình</a>
        </li> -->
    </ul>
    <div class="tab-content" style="margin-bottom: 10%;">
        <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            <hr/>
            <div id="benefits" style="height: 300px; width: 100%;"></div>
            <hr/>
        </div>
        <div id="phiendaugia" class="tab-pane fade">
            <h3>PHIÊN ĐẤU GIÁ</h3>
            <hr/>
            <form style="width: 20%;">
                <div class="form-group">
                    <label for="phiendaugia-maphiendg-Txt">Mã phiên đấu </label>
                    <input readonly="true" class="form-control data-fix" type="text" id="phiendaugia-maphiendg-Txt">
                </div>
                <div class="form-group">
                    <label for="phiendaugia-masp-Select">Tên sản phẩm </label>
                    <select name="phiendaugia-masp-Select" id="phiendaugia-masp-Select"></select>
                </div>
                <div class="form-group">
                    <label for="phiendaugia-thoigianbd-Date">Thời gian bắt đầu </label>
                    <input type="datetime-local" class="form-control data-fix" id="phiendaugia-thoigianbd-Date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"
                    />
                    <br/>
                </div>
                <div class="form-group">
                    <label for="phiendaugia-thoigiandau-Txt">Thời gian đấu </label>
                    <input type="text" class="form-control data-fix" id="phiendaugia-thoigiandau-Txt" placeholder="05">
                </div>
                <div class="form-group">
                    <label for="phiendaugia-giathapnhat-Txt">Giá thấp nhất </label>
                    <input type="text" class="form-control" id="phiendaugia-giathapnhat-Txt" value="1000" disabled>
                </div>
                <div class="form-group">
                    <label for="phiendaugia-giahientai-Txt">Giá hiện tại </label>
                    <input type="text" class="form-control data-fix" id="phiendaugia-giahientai-Txt" placeholder="1000">
                </div>
                <input hidden="true" type="text" id="phiendaugia-maphieudg-Txt">
                <div class="form-group">
                    <label for="phiendaugia-tinhtrangphiendg-Select">Tình trạng phiên đấu giá</label>
                    <select type="text" class="form-control" id="phiendaugia-tinhtrangphiendg-Select"></select>
                </div>
                <input hidden type="text" id="phiendaugia-ngaytao-Txt" class="data-fix"></input>
                <input hidden type="text" id="phiendaugia-capnhatlancuoi-Txt" class="data-fix"></input>
            </form>
            <button type="button" class="btn btn-default" id="phiendaugia-them-Btn">Thêm</button>
            <button type="button" class="btn btn-warning" id="phiendaugia-sua-Btn">Sửa</button>
            <button type="button" class="btn btn-danger" id="phiendaugia-xoa-Btn">Xóa</button>
            <hr/>
            <table id='phiendaugia-table' class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Mã phiên</th>
                        <th>Tên SP</th>
                        <th>TGBĐ</th>
                        <th>TG đấu</th>
                        <th>Giá Min</th>
                        <th>Giá HT</th>
                        <th>Mã phiếu ĐG</th>
                        <th>Tình trạng</th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật cuối</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã phiên</th>
                        <th>Tên SP</th>
                        <th>TGBĐ</th>
                        <th>TG đấu</th>
                        <th>Giá Min</th>
                        <th>Giá HT</th>
                        <th>Mã phiếu ĐG</th>
                        <th>Tình trạng</th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật cuối</th>
                    </tr>
                </tfoot>
                <!-- Dưới có code script cho nội dung tbody async function setPhienDauGia() -->
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="taikhoan" class="tab-pane fade">
            <h3>TÀI KHOẢN</h3>
            <form style="width: 20%;">
                <div class="form-group">
                    <label for="taikhoan-matk-Txt">Mã tài khoản</label>
                    <input readonly="true" class="form-control data-fix" type="text" id="taikhoan-matk-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-tendangnhap-Txt">Tên đăng nhập </label>
                    <input type="text" class="form-control data-fix" id="taikhoan-tendangnhap-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-matkhau-Txt">Mật khẩu </label>
                    <input type="text" class="form-control data-fix" id="taikhoan-matkhau-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-tenhienthi-Txt">Tên hiển thị </label>
                    <input type="text" class="form-control data-fix" id="taikhoan-tenhienthi-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-email-Txt">Email </label>
                    <input type="text" class="form-control data-fix" id="taikhoan-email-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-dienthoai-Txt">Điện thoại </label>
                    <input type="text" class="form-control data-fix" id="taikhoan-dienthoai-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-diachi-Txt">Địa chỉ </label>
                    <input type="text" class="form-control data-fix" id="taikhoan-diachi-Txt">
                </div>
                <div class="form-group">
                    <label for="taikhoan-loaitk-Txt">Loại tài khoản </label>
                    <select type="text" class="form-control" id="taikhoan-loaitk-Select"></select>
                </div>
            </form>
            <button type="button" class="btn btn-default" id="taikhoan-them-Btn">Thêm</button>
            <button type="button" class="btn btn-warning" id="taikhoan-sua-Btn">Sửa</button>
            <hr/>
            <table id='taikhoan-table' class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Mã TK</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Tên hiển thị</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Loại TK</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã TK</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Tên hiển thị</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Loại TK</th>
                    </tr>
                </tfoot>
                <!-- Dưới có code script cho nội dung tbody async function setPhienDauGia() -->
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="thamso" class="tab-pane fade">
            <h3>THAM SỐ</h3>
            <hr/>
            <form style="width: 20%;">
                <div class="form-group">
                    <label for="thamso-mathamso-Txt">Mã tham số</label>
                    <input readonly="true" class="form-control data-fix" type="text" id="thamso-mathamso-Txt">
                </div>
                <div class="form-group">
                    <label for="thamso-tenthamso-Txt">Tên tham số </label>
                    <input readonly type="text" class="form-control data-fix" id="thamso-tenthamso-Txt" placeholder="Bước nhảy">
                </div>
                <div class="form-group">
                    <label for="thamso-giatri-Txt">Giá trị </label>
                    <input type="number" min="10000" step="10000" class="form-control data-fix" id="thamso-giatri-Txt" name="thamso-giatr-Txt"
                        placeholder="100000">
                </div>
            </form>
            <button type="button" class="btn btn-warning" id="thamso-sua-Btn">Sửa</button>
            <hr/>
            <table id='thamso-table' class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Mã tham số </th>
                        <th>Tên tham số</th>
                        <th>Giá trị </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã tham số </th>
                        <th>Tên tham số</th>
                        <th>Giá trị </th>
                    </tr>
                </tfoot>
                <!-- Dưới có script để hiển thị cho tbody là  async function setThamSo()-->
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="loaisanpham" class="tab-pane fade">
            <h3>LOẠI SẢN PHẨM</h3>
            <hr/>
            <form style="width: 20%;">
                <div class="form-group">
                    <label for="loaisanpham-maloaisp-Txt">Mã loại sản phẩm</label>
                    <input readonly="true" class="form-control data-fix" type="text" id="loaisanpham-maloaisp-Txt">
                </div>
                <div class="form-group">
                    <label for="loaisanpham-tenloaisp-Txt">Tên loại sản phẩm</label>
                    <input type="text" class="form-control data-fix" id="loaisanpham-tenloaisp-Txt" placeholder="Trẻ em">
                </div>
            </form>
            <button type="button" class="btn btn-default" id="loaisanpham-them-Btn">Thêm</button>
            <button type="button" class="btn btn-warning" id="loaisanpham-sua-Btn">Sửa</button>
            <hr/>
            <table id='loaisanpham-table' class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Mã loại sản phẩm</th>
                        <th>Tên loại sản phẩm</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã loại sản phẩm</th>
                        <th>Tên loại sản phẩm</th>
                    </tr>
                </tfoot>
                <!--  Dưới script có viết code đọc nội dung chèn vào tbody là  async function setLoaiSanPham()-->
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="sanpham" class="tab-pane fade">
            <h3>SẢN PHẨM</h3>
            <hr/>
            <form style="width: 20%;">
                <div class="form-group">
                    <label for="sanpham-masp-Txt">Mã sản phẩm </label>
                    <input readonly="true" class="form-control data-fix" type="text" id="sanpham-masp-Txt">
                </div>
                <div class="form-group">
                    <label for="sanpham-tensp-Txt">Tên sản phẩm </label>
                    <input type="text" class="form-control data-fix" id="sanpham-tensp-Txt" placeholder="Đồng hồ">
                </div>
                <div class="form-group">
                    <label for="sanpham-tenloaisp-Select">Tên loại sản phẩm</label>
                    <select name="sanpham-tenloaisp-Select" id="sanpham-tenloaisp-Select"></select>
                </div>
                <div class="form-group">
                    <label for="sanpham-hinhdaidien-Img">Hình đại diện</label>
                    <img style="width: 200px;height: 250px;" src="" alt="" id="sanpham-hinhdaidien-Img" class="data-fix">
                    <input type="file" class="form-control data-fix" name="sanpham-hinhdaidien-File" id="sanpham-hinhdaidien-File">
                </div>
                <div class="form-group">
                    <label for="sanpham-dacta-TextArea">Đặc tả</label>
                    <textarea type="text" class="form-control data-fix" id="sanpham-dacta-TextArea"></textarea>
                </div>
                <input hidden type="text" id="sanpham-ngaytao-Txt" class="data-fix"></input>
                <input hidden type="text" id="sanpham-capnhatlancuoi-Txt" class="data-fix"></input>

            </form>
            <button type="button" class="btn btn-default" id="sanpham-them-Btn">Thêm</button>
            <button type="button" class="btn btn-warning" id="sanpham-sua-Btn">Sửa</button>
            <button type="button" class="btn btn-danger" id="sanpham-xoa-Btn">Xóa</button>
            <hr/>
            <table id='sanpham-table' class="table table-striped table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Tên loại SP</th>
                        <th>Hình đại diện</th>
                        <th>Đặc tả</th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật lần cuối</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Tên loại SP</th>
                        <th>Hình đại diện</th>
                        <th>Đặc tả</th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật lần cuối</th>
                    </tr>
                </tfoot>
                <!-- Dưới có code script cho nội dung tbody async function setSanPham() -->
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- <div id="hinh" class="tab-pane fade">
            <h3>HÌNH</h3>
            <hr/>
        </div> -->
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom" style="margin-top: 100px;">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a style="color:#000;font-size:14px;">
                    <strong class=""> My Team 2018 (c) </strong>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var tinhtrangphiendgList;
    var loaisanphamList;
    var userData;
    var sanphamList;
    var phiendaugiaList;
    var loaitaikhoanList;

    Date.prototype.toDateTimeLocal =
        function toDateTimeLocal() {
            var date = this,
                ten = function (i) {
                    return (i < 10 ? '0' : '') + i;
                }
            yyyy = date.getFullYear(),
                MM = ten(date.getMonth() + 1),
                dd = ten(date.getDate()),
                hh = ten(date.getHours()),
                mm = ten(date.getMinutes());
            return yyyy + '-' + MM + '-' + dd + 'T' + hh + ':' + mm;
        }
    //Gọi API xử lý
    async function setLoaiSanPham() {
        await $.ajax({
            type: "GET",
            url: '/api/loaisanpham/read',
            cache: true,
            //láy kết quả url lưu vào data
            success: function (data) {
                loaisanphamList = data;
                let htmlData = '';
                let options = '';
                for (let i = 0; i < data.length; i++) {
                    htmlData += `
                    <tr>
                    <td class="loaisanpham-maloaisp" >${data[i].maloaisp}</td>
                    <td class="loaisanpham-tenloaisp" >${data[i].tenloaisp}</th>
                    </tr>
                    `;
                    options += `
                    <option value="${data[i].maloaisp}">${data[i].tenloaisp}</option>}
                    `
                }
                $('#loaisanpham-table tbody').html(htmlData);
                // Lưu biến option tại tap Sản Phẩm phần "Tên Loại sản phẩm"
                $('#sanpham-tenloaisp-Select').html(options);
            }
        })
    }
    async function setSanPham() {
        await $.ajax({
            type: "GET",
            url: '/api/sanpham/read',
            cache: true,
            success: function (data) {
                sanphamList = data;
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    let tenloaisp;
                    for (let j = loaisanphamList.length - 1; j >= 0; j--) {
                        if (loaisanphamList[j].maloaisp == data[i].maloaisp) {
                            tenloaisp = loaisanphamList[j].tenloaisp;
                            break;
                        }
                    }
                    htmlData += `
                        <tr>
                        <td class="sanpham-masp" >${data[i].masp}</td>
                        <td class="sanpham-tensp" >${data[i].tensp}</td>
                        <td class="sanpham-tenloaisp" data-maloaisp="${data[i].maloaisp}">${tenloaisp}</td>
                        <td class="sanpham-hinhdaidien" >${data[i].hinhdaidien}</td>
                        <td class="sanpham-dacta" >${data[i].dacta}</td>
                        <td class="sanpham-ngaytao" >${data[i].created}</td>
                        <td class="sanpham-capnhatlancuoi" >${data[i].updated}</td>
                        </tr>
                        `;
                }
                $('#sanpham-table tbody').html(htmlData)
            }
        })
    }
    async function setThamSo() {
        let result;
        await $.ajax({
            type: "GET",
            url: '/api/thamso/read',
            cache: true,
            success: function (data) {
                result = data;
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    htmlData += `
                        <tr>
                        <td class="thamso-mathamso" >${data[i].mathamso}</td>
                        <td class="thamso-tenthamso" >${data[i].tenthamso}</th>
                        <td class="thamso-giatri" >${data[i].giatri}</td>
                        </tr>
                        `;
                }
                $('#thamso-table tbody').html(htmlData)
            }
        })
        return result;
    }

    function setUser() {
        $.ajax({
            type: "GET",
            url: '/api/taikhoan/getuser',
            cache: true,
            success: function (datauser) {
                if (datauser.length > 0) {
                    userData = datauser[0];
                    $('#tenhienthi-Text').html(datauser[0].tenhienthi);
                }
            }
        })
    }

    function setLoaiTaiKhoan() {
        $.ajax({
            type: "GET",
            url: '/api/loaitaikhoan/read',
            cache: true,
            success: function (data) {
                loaitaikhoanList = data;
                let dataHtml = '';
                for (var i = 0; i < data.length; i++) {
                    dataHtml += `
                        <option value="${data[i].maloaitk}">${data[i].tenloaitk}</option>
                        `
                }
                $('#taikhoan-loaitk-Select').html(dataHtml);
            }
        })
    }

    async function setTaiKhoan() {
        await $.ajax({
            type: "GET",
            url: '/api/taikhoan/read',
            cache: true,
            success: function (data) {
                let tenloaitk = '';
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    for (let j = 0; j < loaitaikhoanList.length; j++) {
                        if (loaitaikhoanList[j].maloaitk == data[i].maloaitk) {
                            tenloaitk = loaitaikhoanList[j].tenloaitk;
                            break;
                        }
                    }
                    htmlData += `
                    <tr>
                    <td class="taikhoan-matk">${data[i].matk}</td>
                    <td class="taikhoan-tendangnhap">${data[i].tendangnhap}</td>
                    <td class="taikhoan-matkhau">${data[i].matkhau}</td>
                    <td class="taikhoan-tenhienthi">${data[i].tenhienthi}</td>
                    <td class="taikhoan-email">${data[i].email}</td>
                    <td class="taikhoan-dienthoai">${data[i].dienthoai}</td>
                    <td class="taikhoan-diachi">${data[i].diachi}</td>
                    <td class="taikhoan-loaitk" data-maloaitk=${data[i].maloaitk}>${tenloaitk}</td>
                    <tr>
                    `;
                }
                $('#taikhoan-table tbody').html(htmlData)
            }
        })
    }


    async function setTinhTrangPhienDauGia() {
        await $.ajax({
            type: "GET",
            url: '/api/tinhtrangphiendaugia/read',
            cache: true,
            success: function (data) {
                tinhtrangphiendgList = data;
                let options = '';
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    options += `
                    <option value="${data[i].matinhtrangphiendg}">${data[i].tentinhtrangphiendg}</option>}
                    `;
                }
                $('#phiendaugia-tinhtrangphiendg-Select').html(options);
            }
        })
    }

    async function setPhienDauGia() {
        await $.ajax({
            type: "GET",
            url: '/api/phiendaugia/read',
            cache: true,
            success: function (data) {
                phiendaugiaList = data;
                let htmlData = '';
                for (let i = 0; i < data.length; i++) {
                    let tensp;
                    for (let j = sanphamList.length - 1; j >= 0; j--) {
                        if (sanphamList[j].masp == data[i].masp) {
                            tensp = sanphamList[j].tensp;
                            break;
                        }
                    }
                    let tentinhtrangphiendg = '';
                    for (let j = tinhtrangphiendgList.length - 1; j >= 0; j--) {
                        if (tinhtrangphiendgList[j].matinhtrangphiendg == data[i].tinhtrangphiendg) {
                            tentinhtrangphiendg = tinhtrangphiendgList[j].tentinhtrangphiendg;
                            break;
                        }
                    }
                    htmlData += `
                    <tr>
                    <td class="phiendaugia-maphiendg" >${data[i].maphiendg}</td>
                    <td class="phiendaugia-tensp" data-masp="${data[i].masp}">${tensp}</td>
                    <td class="phiendaugia-thoigianbd">${data[i].thoigianbd}</td>
                    <td class="phiendaugia-thoigiandau" >${data[i].thoigiandau}</td>
                    <td class="phiendaugia-giathapnhat" >${data[i].giathapnhat}</td>
                    <td class="phiendaugia-giahientai" >${data[i].giahientai}</td>
                    <td class="phiendaugia-maphieudg" >${data[i].maphieudg}</td>
                    <td class="phiendaugia-tentinhtrangphiendg"  data-matinhtrangphiendg=${data[i].tinhtrangphiendg}>${tentinhtrangphiendg}</td>
                    <td class="phiendaugia-ngaytao" >${data[i].created}</td>
                    <td class="phiendaugia-capnhatlancuoi" >${data[i].updated}</th>
                    </tr>
                    `;
                }
                $('#phiendaugia-table tbody').html(htmlData);
                let htmlDataOption = '';
                for (let j = sanphamList.length - 1; j >= 0; j--) {
                    htmlDataOption += `<option value="${sanphamList[j].masp}">${sanphamList[j].tensp}</option>`
                }
                $('#phiendaugia-masp-Select').html(htmlDataOption);
            }
        })
    }

    function setBarChart() {
        let options = {
            animationEnabled: true,
            title: {
                text: "DOANH THU TRONG TOP 10 NGÀY"
            },
            axisY: {
                title: "Triệu Đồng(VNĐ)",
                suffix: "",
                includeZero: false
            },
            axisX: {
                title: "NGÀY"
            },
            data: [{
                type: "column",
                yValueFormatString: "#,##0.0#" % "",
                dataPoints: [{
                    label: "20/02",
                    y: 100.09
                }, {
                    label: "03/05",
                    y: 90.40
                }, {
                    label: "04/05",
                    y: 80.50
                }, {
                    label: "05/05",
                    y: 7.96
                }, {
                    label: "12/05",
                    y: 200.80
                }, {
                    label: "21/05",
                    y: 70.56
                }, {
                    label: "25/05",
                    y: 10.20
                }, {
                    label: "02/06",
                    y: 7.1
                }, {
                    label: "07/06",
                    y: 92.12
                }, {
                    label: "12/06",
                    y: 15.12
                },]
            }]
        };
        return options;
    }



    function setAll() {
        Promise.all([setLoaiSanPham(), setThamSo(), setUser(), setLoaiTaiKhoan(), setTaiKhoan(), setSanPham(), setTinhTrangPhienDauGia(), setPhienDauGia()]).then(
            () => {
                $('table tbody tr').each(function (a, b) {
                    $(b).click(function () {
                        $('table tbody tr').css('background', '');
                        $(this).css('background', 'green');
                    });
                });
                $('td').click(function (e) {
                    let idTable = $(this).closest('table').attr('id');
                    switch (idTable) {

                        case "sanpham-table":
                            $(`#sanpham-tenloaisp-Select option[value=${$(this).parent().find(".sanpham-tenloaisp").data("maloaisp")}]`).attr('selected', 'selected');
                            $('#sanpham-hinhdaidien-Img').attr("src", $(this).parent().find(".sanpham-hinhdaidien").text());
                            tinymce.get('sanpham-dacta-TextArea').setContent($.trim($(this).parent().find(".sanpham-dacta").html()));

                        case "phiendaugia-table":
                            $('#phiendaugia-thoigianbd-Date').val(new Date($(this).parent().find(".phiendaugia-thoigianbd").text()).toDateTimeLocal());
                            $(`#phiendaugia-masp-Select option[value=${$(this).parent().find(".phiendaugia-tensp").data("masp")}]`).attr('selected', 'selected');
                            $(`#phiendaugia-tinhtrangphiendg-Select option[value=${$(this).parent().find(".phiendaugia-tentinhtrangphiendg").data("matinhtrangphiendg")}]`).attr('selected', 'selected');

                        case "taikhoan-table":
                            $(`#taikhoan-loaitk-Select option[value=${$(this).parent().find(".taikhoan-loaitk").data("maloaitk")}]`).attr('selected', 'selected');

                        default:
                            let a = $(this).parent().children();
                            for (var i = 0; i < a.length; i++) {
                                let id = '#' + a[i].className.split(" ")[0] + '-Txt';
                                let classname = '.' + a[i].className.split(" ")[0];
                                $(id).val($(this).parent().find(classname).text());
                            }
                            break;
                    }

                })
                tinymce.init({
                    selector: 'textarea',
                    width: 1000,
                    height: 250,
                    menubar: false,
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor textcolor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste code help wordcount'
                    ],
                    toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                    content_css: [
                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                        '//www.tinymce.com/css/codepen.min.css'
                    ]
                });
                $("#benefits").CanvasJSChart(setBarChart());
                $('#sanpham-table').DataTable();
                $('#phiendaugia-table').DataTable();
            });
    }

    $(document).ready(function () {
        setAll();
    });

    $('#sanpham-hinhdaidien-File').change(function (event) {
        /* Act on the event */
        if ($(this).get(0).files && $(this).get(0).files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#sanpham-hinhdaidien-Img').attr('src', e.target.result);
            }
            reader.readAsDataURL($(this).get(0).files[0]);
        }
    });

    $('#thamso-sua-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.mathamso = $.trim($('#thamso-mathamso-Txt').val());
        data.tenthamso = $.trim($('#thamso-tenthamso-Txt').val());
        data.giatri = $.trim($('#thamso-giatri-Txt').val());
        $.ajax({
            type: "PUT",
            url: '/api/thamso/update',
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: true,
            success: function (data) {
                if (data.length > 0) {
                    $('tr[style="background: green;"]').find('td').eq(2).html(data[0].giatri);
                    alert("Cập nhật tham số thành công!");
                }
            }
        });
    })

    //Sản phẩm thêm
    $('#sanpham-them-Btn').click(function (e) {
        e.preventDefault();
        let data = new FormData();
        let hinhdaidien = $.trim($('#sanpham-hinhdaidien-Img').attr('src'));
        if ($('#sanpham-hinhdaidien-File').get(0).files.length > 0) {
            hinhdaidien = './image/' + $('#sanpham-hinhdaidien-File').get(0).files[0].name;
        }
        data.append('masp', $.trim($('#sanpham-masp-Txt').val()))
        data.append('tensp', $.trim($('#sanpham-tensp-Txt').val()))
        data.append('maloaisp', $.trim($('#sanpham-tenloaisp-Select').val()))
        tinyMCE.triggerSave();
        data.append('dacta', $.trim($('#sanpham-dacta-TextArea').val()))
        data.append('hinhdaidien', $.trim(hinhdaidien))
        data.append('file', $('#sanpham-hinhdaidien-File').get(0).files[0])
        data.append('isnew', 0)
        data.append('isdelete', 0)
        data.append('created', new Date().toDateTimeLocal())
        data.append('updated', new Date().toDateTimeLocal());

        $.ajax({
            type: "post",
            url: '/api/sanpham/create',
            processData: false,
            contentType: false,
            cache: false,
            dataType: 'json',
            data: data,
            success: function (data) {
                alert('Thêm sản phẩm thành công!');
            }
        });
    });

    //Sản Phẩm Sửa
    $('#sanpham-sua-Btn').click(function (e) {
        e.preventDefault();
        let data = new FormData();
        let hinhdaidien = $.trim($('#sanpham-hinhdaidien-Img').attr('src'));
        if ($('#sanpham-hinhdaidien-File').get(0).files.length > 0) {
            hinhdaidien = './image/' + $('#sanpham-hinhdaidien-File').get(0).files[0].name;
        }
        data.append('masp', $.trim($('#sanpham-masp-Txt').val()))
        data.append('tensp', $.trim($('#sanpham-tensp-Txt').val()))
        data.append('maloaisp', $.trim($('#sanpham-tenloaisp-Select').val()))
        tinyMCE.triggerSave();
        data.append('dacta', $.trim($('#sanpham-dacta-TextArea').val()))
        data.append('hinhdaidien', $.trim(hinhdaidien))
        data.append('file', $('#sanpham-hinhdaidien-File').get(0).files[0])
        data.append('isnew', 1)
        data.append('isdelete', 0)
        data.append('created', $.trim($('#sanpham-ngaytao-Txt').val()))
        data.append('updated', new Date().toDateTimeLocal());
        $.ajax({
            type: "PUT",
            url: '/api/sanpham/update',
            processData: false,
            contentType: false,
            cache: false,
            dataType: 'json',
            data: data,
            success: function (data) {
                alert('Sửa thông tin sản phẩm thành công!');
            }
        });
    });
    //Sản Phẩm Xóa
    $('#sanpham-xoa-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.masp = $.trim($('#sanpham-masp-Txt').val());
        $.ajax({
            type: "delete",
            url: '/api/sanpham/delete',
            contentType: 'application/json',
            cache: true,
            data: JSON.stringify(data),
            success: function (data) {
                alert('Xóa sản phẩm thành công!');
            }
        })
    });

    //Thêm Loại SP
    $('#loaisanpham-them-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        // data.maloaisp = $.trim($('#loaisanpham-maloaisp-Txt').val());
        data.tenloaisp = $.trim($('#loaisanpham-tenloaisp-Txt').val());

        $.ajax({
            type: "POST",
            url: '/api/loaisanpham/create',
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: true,
            success: function (data) {
                alert('Thêm loại sản phẩm thành công!');
            }
        });
    });
    //Sửa Loại SP
    $('#loaisanpham-sua-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.maloaisp = $.trim($('#loaisanpham-maloaisp-Txt').val());
        data.tenloaisp = $.trim($('#loaisanpham-tenloaisp-Txt').val());

        $.ajax({
            type: "PUT",
            url: '/api/loaisanpham/update',
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: true,
            success: function (data) {
                alert('Cập nhật thông tin loại sản phẩm thành công!');
            }
        });
    });
    //Phiên đấu giá Sửa
    $('#phiendaugia-sua-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.maphiendg = $.trim($('#phiendaugia-maphiendg-Txt').val());
        data.masp = $.trim($('#phiendaugia-masp-Select').val());
        data.thoigianbd = $.trim($('#phiendaugia-thoigianbd-Date').val());
        data.thoigiandau = $.trim($('#phiendaugia-thoigiandau-Txt').val());
        data.giathapnhat = $.trim($('#phiendaugia-giathapnhat-Txt').val());
        data.giahientai = $.trim($('#phiendaugia-giahientai-Txt').val());
        data.maphieudg = $.trim($('#phiendaugia-maphieudg-Txt').val()) == "null" ? null : $.trim($('#phiendaugia-maphieudg-Txt').val());
        data.tinhtrangphiendg = $.trim($('#phiendaugia-tinhtrangphiendg-Select').val());
        data.isnew = 1;
        data.isdelete = 0;
        data.created = $.trim($('#phiendaugia-ngaytao-Txt').val());
        data.updated = new Date().toDateTimeLocal();
        $.ajax({
            type: "PUT",
            url: '/api/phiendaugia/update',
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: true,
            success: function (data) {
                alert('Cập nhật phiên đấu giá thành công');
            }
        });
    });
    //phiên đáu giá thêm
    $('#phiendaugia-them-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.masp = $.trim($('#phiendaugia-masp-Select').val());
        data.thoigianbd = $.trim($('#phiendaugia-thoigianbd-Date').val());
        data.thoigiandau = $.trim($('#phiendaugia-thoigiandau-Txt').val());
        data.giathapnhat = $.trim($('#phiendaugia-giathapnhat-Txt').val());
        data.giahientai = $.trim($('#phiendaugia-giahientai-Txt').val());
        data.tinhtrangphiendg = $.trim($('#phiendaugia-tinhtrangphiendg-Select').val());
        data.isnew = 1;
        data.isdelete = 0;
        data.created = new Date().toDateTimeLocal();
        data.updated = new Date().toDateTimeLocal();
        $.ajax({
            type: "post",
            url: '/api/phiendaugia/create',
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: true,
            success: function (data) {
                alert('Phiên đấu giá được tạo thành công!');
            }
        });
    });
    //Phiên đấu giá Xóa
    $('#phiendaugia-xoa-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.maphiendg = $.trim($('#phiendaugia-maphiendg-Txt').val());
        $.ajax({
            type: "delete",
            url: '/api/phiendaugia/delete',
            contentType: 'application/json',
            cache: true,
            data: JSON.stringify(data),
            success: function (data) {
                alert('Xóa phiên đấu giá thành công!');
            }
        });
    });
    //Tài khoản Thêm
    $('#taikhoan-them-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.matk = $.trim($('#taikhoan-matk-Txt').val());
        data.tendangnhap = $.trim($('#taikhoan-tendangnhap-Txt').val());
        data.matkhau = $.trim($('#taikhoan-matkhau-Txt').val());
        data.tenhienthi = $.trim($('#taikhoan-tenhienthi-Txt').val());
        data.email = $.trim($('#taikhoan-email-Txt').val());
        data.dienthoai = $.trim($('#taikhoan-dienthoai-Txt').val());
        data.diachi = $.trim($('#taikhoan-diachi-Txt').val());
        data.maloaitk = $.trim($('#taikhoan-loaitk-Select').val());

        $.ajax({
            type: "POST",
            url: '/api/taikhoan/create',
            contentType: 'application/json',
            cache: true,
            data: JSON.stringify(data),
            success: function (data) {
                alert('Thêm tk thành công!');
            }
        });
    });

    //Tài khoản Sửa
    $('#taikhoan-sua-Btn').click(function (e) {
        e.preventDefault();
        let data = {};
        data.matk = $.trim($('#taikhoan-matk-Txt').val());
        data.tendangnhap = $.trim($('#taikhoan-tendangnhap-Txt').val());
        data.matkhau = $.trim($('#taikhoan-matkhau-Txt').val());
        data.tenhienthi = $.trim($('#taikhoan-tenhienthi-Txt').val());
        data.email = $.trim($('#taikhoan-email-Txt').val());
        data.dienthoai = $.trim($('#taikhoan-dienthoai-Txt').val());
        data.diachi = $.trim($('#taikhoan-diachi-Txt').val());
        data.maloaitk = $.trim($('#taikhoan-loaitk-Select').val());

        $.ajax({
            type: "PUT",
            url: '/api/taikhoan/update',
            contentType: 'application/json',
            cache: true,
            data: JSON.stringify(data),
            success: function (data) {
                alert('Cập nhật tk thành công!');
            }
        });
    });

    $('#clearCache-Btn').click(function (e) {
        e.preventDefault();
        $('.data-fix').val("");
        $('.data-fix').attr("src", "");
        tinymce.get('sanpham-dacta-TextArea').setContent('')
    });
    $('#restartAll-Btn').click(function (e) {
        e.preventDefault();
        setAll();
    });
    $('#logout-submit').click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: '/api/taikhoan/dangxuat',
            cache: true,
            success: function (data) {
                $('#root-content').html(data);
            }
        });
        $('.modal-backdrop.fade.in').remove();
        $('body').removeClass('modal-open')
    });
</script>